<div class="container bg-light">
    <div class="row item-row" *ngFor="let cartItem of cartItems">
        <div class="col-1 center-column">
            <input class="quantity" type="number" min="1" max="99" [value]="getCartQuantity(cartItem.itemName)" (change)="updateCartQuantity($event, cartItem.itemName)">
<!--            <p>{{cartItem.cartQuantity}}</p>-->
        </div>
        <div class="col-2 center-column">
            <img [src]="getItemImage(cartItem.itemName)" class="w-75 h-75">
        </div>
        <div class="col-9">
            <div class="row link-row mt-3 justify-content-between">
                <a href="#" class="item-link w-auto"><p>{{cartItem.itemName}}</p></a>
                <p class="item-link mr-3 w-auto">{{cartItem.itemPrice}}</p>
            </div>
            <div class="row">
                <p class="item-desc">{{cartItem.description}}</p>
            </div>
            <div class="row delete-row mb-3">
                <a (click)="removeCartItem(cartItem.itemName)" routerLink="/cart">Delete item</a>
            </div>
        </div>
        <hr>
    </div>
    <div class="row">
        <p class="mr-3 text-right">total price</p>
    </div>
    <div class="row justify-content-end">
        <a class="btn btn-primary btn-lg my-3 mx-3 w-25" routerLink="/checkout">Checkout</a>
    </div>
</div>

