.eslintrc.json  
angular.json                 
karma.conf.js  
package-lock.json  
src                
tsconfig.json
.editorconfig  
.git            
README.md          
swag-chart         
tsconfig.spec.json
.browserslistrc  
.eslintignore  
.gitignore      
frontend-build-pipeline.yml  
package.json   
spec               
tsconfig.app.json