<nav *ngIf="accountService.account"  class="navbar navbar-expand-lg navbar-light" style=" border-bottom-style: solid; border-bottom-width: 1px; border-color: rgb(224, 224, 224);
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 2px 17px rgba(0, 0, 0, 0.12);">
    <div class="container-fluid">
        <a routerLink="/home"><img class="navbar-brand" src="./assets/rev-logo.png"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Clothing
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarClothing">
                        <li><a class="dropdown-item" [routerLink]="['/shop','Clothing']">Clothing (category of clothing coming soon)</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">More coming soon!</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarAccessories" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Accessories
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" [routerLink]="['/shop','Accessories']">Accessories (category of accessory coming soon)</a></li>

                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">More coming soon!</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav">

                <li class="nav-item dropdown" *ngIf="this.accountService.account && this.accountService.account.role == 1">
                    <a class="nav-link dropdown-toggle" href="#" id="adminOptions" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        ADMIN
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="adminOptions">
                        <li><a class="dropdown-item" routerLink="updatestock">Update stock</a></li>
                        <li><a class="dropdown-item" routerLink="newinventory">Create stock item</a></li>
                        <li><a class="dropdown-item" href="#">Edit user points</a></li>


                    </ul>
                </li>


                <li class="nav-item">
                    <a class="nav-link" routerLink="cart">Cart</a>
                </li>


                <li class="nav-item dropdown" *ngIf="this.accountService.account">
                    <a class="nav-link dropdown-toggle" href="#" id="accountOptions" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Account
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="accountOptions">
                        <li><a class="dropdown-item" routerLink = "user" onmouseover="" style="cursor: pointer;">Your Account</a></li>
                        <li><a class="dropdown-item" (click)="accountService.logout()" onmouseover="" style="cursor: pointer;">Sign out</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>