label {
    background-color: rgb(240, 140, 26);
    color: white;
    padding: 0.5rem;
    
    border-radius: 6px;
    cursor: pointer;
    
    border-style: solid;
   border-width: 0px;
    border-color: rgb(224, 224, 224);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 4px 4px rgba(0, 0, 0, 0.52);
  font-size: 15px;

  margin-top: 1px;

  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Safari */        
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
  
  }


  label { 
    transition: all 0.07s linear;
}

label:hover {
    background-color: rgb(250, 150, 36);
}

label:active {
  background-color: rgb(245, 145, 31);
  border-style: solid;
   border-width: 0px;
    border-color: rgb(224, 224, 224);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 2px 3px rgba(0, 0, 0, 0.32);
  transform: translate(0.0%, 4.0%);
  
}

.imageUploadText {
  display: flex; 
  align-items: center; 
  
  max-width: 400px;

  overflow: hidden;
  
    
}

.imageUploadText.uploadSuccess {
  color: rgb(0, 160, 0);
}

.imageUploadText.uploadProblem {
  color:red;
}

.imageUploadText.uploadLoading {
  color:rgb(177, 94, 0);
}

button.close {
  
  color:rgb(77, 77, 77);
  margin-left: 20px;
  margin-bottom: 4px;
}