<div class="container-fluid">
    <div class="card text-center" fxFlexAlign="center">
        <h2 class="card-header">
            User information
        </h2>

    </div>
    <div class="card-body text-center">
        <p>
            {{accountInfo.email}}
            {{accountInfo.points}}
        </p>

    </div>

</div>
<div class="container-fluid">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">amount</th>
            <th scope="col">date</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let order of orderList; let i = index;">
            <th>{{i}}</th>
            <td>{{order.amount}}</td>
            <td>{{order.date}}</td>
        </tr>
        </tbody>
    </table>
</div>