<div class="container">
    <div class="row jumbotron">
        <img src="./assets/images/rev-logo.png" alt="">
        <h1 class="d-flex justify-content-evenly"><p>Swag</p>
            <p>Shop</p></h1>
    </div>
    <div class="row gy-5">
        <div class="dropdown col-md-4">
            <button class="btn dropdown-toggle" type="button" id="userDropdown" data-bs-toggle="dropdown"
                    aria-expanded="false">{{TextForButton}}</button>
            <ul class="dropdown-menu" aria-labelledby="userDropdown">
                <li *ngFor="let account of accounts"
                    (click)="setUserName(account)"
                ><p class="dropdown-item">{{account.email}}</p></li>
            </ul>
        </div>
    </div>
    <div class="row mt-5">
        <div *ngIf="username != ''" class="col-md-4">
            <button class="btn col-4" type="button" id="loginBtn" (click)="login()">Login</button>
        </div>
    </div>
</div>