<div class="jumbotron">
    <div class="row">
        <div class="col-md-12">
            <div>
                <h1>
                    Sad Days.
                </h1>
                <h2>
                    404 Not Found
                </h2>
                <div>
                    Sorry, an error has occured, Requested page not found!
                </div>
                <div>
                    You will be redirected in 5 seconds.
                </div>

            </div>
        </div>
    </div>
</div>
