<div class="saleTitle">

    {{salecategoryOfItems}}

</div>

<div class="sale-grid" style="margin-top: 20px;" >


    <div *ngFor="let item of this.saleItemsFiltered  | slice: salepageSize | slice: 0: saleitemsPerPage | filter: salesearchText"
        class="card" type="button" data-bs-toggle="modal" data-bs-target="#itemModal" (click)="saleitemClicked(item)"
        [ngClass]="{'inStockItem' : item.quantity > 0, 'outOfStockItem' : item.quantity == 0}">

        <div class="imageContainer" style="overflow: hidden;">
            <img class="card-img-top" src = "{{saleitemImagesURL+'/'+item.id}}" alt="Item image">
        </div>

        <!-- Mask applied over image when hovered over-->
        <div class="mask"></div>


        <div class="card-body" style="text-align: center;">


            <h5 class="card-title title two-line-text" style="font-size: 21px;">{{item.itemName}}</h5>
            <h5 class="card-text price" style="margin-top: 15px; font-size: 18px;">{{item.itemPrice * (1-item.discount)}} RevCoins</h5>
            <h6 class="card-text sale">{{item.discount * 100}} % Off !</h6>

        </div>
 
    </div>

</div>


<ngb-pagination [collectionSize]="this.saleItemsService.inventoryItems.length" #numPages [pageSize]="saleitemsPerPage" [(page)]="salecurrentPage" (pageChange)="saleonPageChange(salecurrentPage)">
<ng-template ngbPaginationPrevious>Prev</ng-template>
<ng-template ngbPaginationNext>Next</ng-template>
</ngb-pagination>

<app-item-modal [title]="this.saleselectedItem.itemName" [src]="this.saleselectedItem.imageURL"
[description]="this.saleselectedItem.description" [quantity]="this.saleselectedItem.quantity" [id]="this.saleselectedItem.id" [category]="this.saleselectedItem.category"></app-item-modal>

<br>
<br>
