<div class="banner">
    <h1 class="title">Items on Sale</h1>
    <p class="message">Check out our awesome items!</p>
    <p-carousel [value]="saleItemsFiltered" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1"
        [circular]="true" [autoplayInterval]="5000">
        <ng-template pTemplate="header">
        </ng-template>
        <ng-template let-sale pTemplate="item">
            <div class="product-item">
                <div class="product-item-content">
                    <div class="p-mb-3">
                        <div class="discount">
                            {{sale.discount | percent}}
                        </div>
                        <img src="{{itemImagesURL+'/images/'+sale.itemName+'.png'}}" [alt]="sale.itemName"
                            class="product-image" />
                    </div>
                    <div class="item-wrapper">
                        <h4 class="p-mb-1">{{sale.itemName}}</h4>
                        <span class="price-wrapper">
                            <h6 class="p-mt-0 p-mb-3 price">{{sale.itemPrice}}</h6>
                            <h6 class="p-mt-0 p-mb-3">{{sale.itemPrice * (1-sale.discount)|number}} RevCoins
                            </h6>
                        </span>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>