

.title-and-inventory-grid {

    display: flex;
    flex-direction: column;
    
    /* Margins */
    margin-left: 20%;
    margin-top: 10px;
    
}

/*
.title-and-inventory-grid {

    max-width: 1180px;
    min-width: 570px;
 
}
*/

.title-and-inventory-grid {

    width: 1135px;
 
}

@media only screen and (max-width: 1430px) {
.title-and-inventory-grid {

    
    width: 850px;
    
 
}
}

@media only screen and (max-width: 1075px) {
    .title-and-inventory-grid {
    
        
        width: 565px;
        
     
}
}

@media only screen and (max-width: 680px) {
    .title-and-inventory-grid {
        
        
        width: 340px;
            
         
}
}



.inventoryTitle-Filters {
    display: flex;
    flex-direction: row;
    
}

.inventoryTitle {

    font-size: 34px;
    margin-left: 25px;

    flex-grow: 1; 
    margin-left: 9px; 
    margin-bottom: 0px;
}

.filtersAndTitle {
    display: flex;
    flex-direction: row-reverse;
    align-items:flex-end;
    
    margin-right: 10px;
     
    margin-bottom: 8px;
    
}

@media only screen and (max-width: 680px) {
    .filtersAndTitle {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-right: 10px;
         
        margin-bottom: 8px;
        
    }
}
.inventory-grid {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  

  /*display: grid;
  grid-template-columns: repeat(auto-fill,minmax(280px, 1fr));*/
  margin-top: 5px;
  
}

.inventory-grid > div {
  
  margin: 0.15%;
  
  border: solid;
  
  border-width: 1px;
  border-radius: 0.20em;
  border-color: rgb(201, 201, 201);
  
  /*min-width:280px;*/
  
  height:385px;

  text-overflow: ellipsis;
 width: 280px;
  text-align: center;
  
}

@media only screen and (max-width: 680px) {
.inventory-grid > div {
    width: 340px;
}
}

.one-line-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
 }

 .two-line-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;

    
    width: 85%;
    margin: 0 auto;
 }


 .form-check-input {
     
    border-radius: 10%;
    border-color: rgb(40, 49, 173);
    
    
}
 .form-check-input:checked {
     
    border-color: rgb(40, 49, 173);
    
}
 .form-check-input:focus {
     
    
     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 1px rgb(110, 110, 110);
     
 }

 /*
 PAGINATION STYLING
 */


 ngb-pagination ::ng-deep ul > li:not(.active) > a {
    background-color: rgb(255, 255, 255) !important;
    border-color: rgb(255,255,255) !important;
    outline-color: black !important;

}

ngb-pagination ::ng-deep ul > li.active > a {
    background-color: rgb(245, 90, 0) !important;
    border-color: rgb(245, 90, 0) !important;
    outline-color: black !important;

    border-color: #464646;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 0px rgb(110, 110, 110);
}


ngb-pagination  ngb-template ::ng-deep a.active {
    background-color: rgb(245, 90, 0) !important;
    border-color: rgb(245, 90, 0) !important;
    outline-color: black !important;

    border-color: #464646;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 0px rgb(110, 110, 110);
}



