<div class="container-fluid">
    <div class="card text-center" fxFlexAlign="center">
        <h1 class="card-header">
            Order Confirmation
        </h1>
        <br>
        <br>
        <div style="width:50%; align-self:center;">
        <img src="assets/images/checkmark.png" width="300" height="300">
        </div>
        <br>
        <div style="margin:auto; width:100%; text-align: center">
            <button type="button" routerLink="/user" class="btn btn-warning mx-2">View Your Points History</button>
            <button type="button" routerLink="/home" class="btn btn-warning mx-2">Return to home Page</button>
        </div>
    </div>


</div>

